list_form_key = '@@LIST_FORM@@'
list_form_value = 'ListaForm'
insert_form_key = '@@INSERT_FORM@@'
insert_form_value = 'IncluiForm'
update_form_key = '@@UPDATE_FORM@@'
update_form_value = 'AlteraForm'
table_model_key = '@@TABLE_MODEL@@'
table_model_value = 'Empresa'
database_name_key = '@@DATABASE_NAME@@'
database_name_value = 'db_projeto_modelo'
table_name_key = '@@TABLE_NAME@@'
table_name_value = 'tb_empresa_emp'

insert_sql_key = '@@INSERT_SQL@@'
update_sql_get_key = '@@UPDATE_SQL_GET@@'
update_sql_post_key = '@@UPDATE_SQL_POST@@'
print_list_key = '@@PRINT_LIST@@'
ordenarpor_choices_key = '@@ORDENARPOR_CHOICES@@'
models_attributes_key = '@@MODELS_ATTR@@'
