{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{% block content %}

  <div class="row align-items-center justify-content-center">
    <div class="content-section col-md-6">

      <div class="panel-body">

        <div class="modal-body">

          <form action="" method="POST">
          {{ form.csrf_token }}

            <fieldset class="form-group">

              <legend class="border-bottom mb-4">

                <h2 class="font-weight-bold">
                  {% if title %} {{ title }}
                  {% else %} Sem Título
                  {% endif %}

                  <button type="button" class="close" onclick="window.location.href = '{{ url_for('@@TABLE_NAME@@.@@TABLE_NAME@@_acessar') }}';">
                  &times;
                  </button>
                </h2>

              </legend>

              <div class="content-section bg-light rounded-lg">
                @@FORM_INSERT@@
              </div>

            </fieldset>

            <div class="modal-footer">
              <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}
