{%  extends "material/base.html" %}
{%  block content  %}

<nav class="purple">
  <div class="nav-wrapper">
    <h4>
      <a href="">GeraParams - Gera Parâmetros para o CRUD</a>
    </h4>
  </div>
</nav>

<div>
  <h6>
    {% if error %}
      <p class=error><strong>* * * </strong> {{ error }}
    {% endif %}
  </h6>
</div>

<div class="row">

  <form class="col s12" action="{{ url_for('incluir') }}" method="post">

    <div class="row">

      <div class="input-field col s3">
        <input id="id_conexao_bd" name="conexao_bd" value="{{ dados.conexao_bd }}" type="text" class="validate">
        <label for="id_conexao_bd">Conexão com BD</label>
      </div>

      <div class="input-field col s3">
        <input id="id_nome_bd" name="nome_bd" value="{{ dados.nome_bd }}" type="text" class="validate">
        <label for="id_nome_bd">Nome do BD</label>
      </div>

      <div class="input-field col s3">
        <input id="id_nome_tabela" name="nome_tabela" value="{{ dados.nome_tabela }}" type="text" class="validate">
        <label for="id_nome_tabela">Nome da Tabela</label>
      </div>

      <div class="input-field col s2">
        <input id="id_nome_model" name="nome_model" value="{{ dados.nome_model }}" type="text" class="validate">
        <label for="id_nome_model">Nome da Tabela Model</label>
      </div>

    </div>

    <div class="row">

      <div class="input-field col s2">
        <input id="id_atributo" name="atributo" value="{{ dados.atributo }}" type="text" class="validate">
        <label for="id_atributo">Atributo</label>
      </div>

      <div class="input-field col s1">
        <select id="id_pk" name="pk">
          <!-- <option value="" disabled selected>Escolha opção</option> -->
          <option value="T">T</option>
          <option value="F">F</option>
        </select>
        <label for="id_pk">Pk</label>
      </div>

      <div class="input-field col s1">
        <select id="id_lis" name="lis">
          <!-- <option value="" disabled selected>Escolha opção</option> -->
          <option value="T">T</option>
          <option value="F">F</option>
        </select>
        <label for="id_lis">Lis</label>
      </div>

      <div class="input-field col s1">
        <select id="id_inc" name="inc">
          <!-- <option value="" disabled selected>Escolha opção</option> -->
          <option value="T">T</option>
          <option value="F">F</option>
        </select>
        <label for="id_inc">Inc</label>
      </div>

      <div class="input-field col s1">
        <select id="id_alt" name="alt">
          <!-- <option value="" disabled selected>Escolha opção</option> -->
          <option value="T">T</option>
          <option value="F">F</option>
        </select>
        <label for="id_alt">Alt</label>
      </div>

      <div class="input-field col s1">
        <select id="id_exc" name="exc">
          <!-- <option value="" disabled selected>Escolha opção</option> -->
          <option value="T">T</option>
          <option value="F">F</option>
        </select>
        <label for="id_exc">Exc</label>
      </div>

      <div class="input-field col s1">
        <select id="id_tipo" name="tipo">
          <!-- <option value="" disabled selected>Escolha opção</option> -->
          <option value="int">Int</option>
          <option value="string">String</option>
          <option value="boolean">Boolean</option>
          <option value="dateTime">DateTime</option>
          <option value="text">Text</option>
        </select>
        <label for="id_tipo">Tipo</label>
      </div>

      <div class="input-field col s1">
        <input id="id_titulo" name="titulo" type="text" class="validate">
        <label for="id_titulo">Titulo</label>
      </div>

      <div class="input-field col s1">
        <input id="id_tam_bd" name="tam_bd" type="text" class="validate">
        <label for="id_tam_bd">Tam. BD</label>
      </div>

      <div class="input-field col s1">
        <input id="id_tam_lista" name="tam_lista" type="text" class="validate">
        <label for="id_tam_lista">Tam.Lista</label>
      </div>

      <div class="input-field col s1">
        <input id="id_tam_relat" name="tam_relat" type="text" class="validate">
        <label for="id_tam_relat">Tam. Relat</label>
      </div>

    </div>

    <div class="row">

      <div class="input-field col s2">
        <input type="submit" name="adicionar_atributo" value="Adicionar Atributo" class="btn btn-ligth btn-sm float-sm-right my-2 mx-2" title="Adicionar">
      </div>

      <div class="input-field col s2">
        <input type="submit" name="gerar_params" value="Gerar Params" class="btn btn-ligth btn-sm float-sm-right my-2 mx-2" title="gerar Params">
      </div>

      <div class="input-field col s2">
        <input type="submit" name="carregar_params" value="Carregar Params" class="btn btn-ligth btn-sm float-sm-right my-2 mx-2" title="carregar Params">
      </div>

      <div class="input-field col s2">
        <a href="{{ url_for('gerarcrud') }}" class="btn btn-ligth btn-sm float-sm-right my-2 mx-2" title="Gerar GRUD">Gerar GRUD
        </a>
      </div>

    </div>

  </form>
</div>

<table>

  <thead>
    <tr>
      <th>Key</th>
      <th>Atributo</th>
      <th>Pk</th>
      <th>Lis</th>
      <th>Inc</th>
      <th>Alt</th>
      <th>Exc</th>
      <th>Tipo</th>
      <th>Titulo</th>
      <th>Tam. BD</th>
      <th>Tam. Lista</th>
      <th>Tam. Relat.</th>
      <th>Ação</th>
    </tr>
  </thead>

  <tbody>

    {% for key, value in lista.items() %}

      <tr>
        <td style="vertical-align:middle">{{ key }}</td>
        <td style="vertical-align:middle">{{ value.atributo }}</td>
        <td style="vertical-align:middle">{{ value.pk }}</td>
        <td style="vertical-align:middle">{{ value.lis }}</td>
        <td style="vertical-align:middle">{{ value.inc }}</td>
        <td style="vertical-align:middle">{{ value.alt }}</td>
        <td style="vertical-align:middle">{{ value.exc }}</td>
        <td style="vertical-align:middle">{{ value.tipo }}</td>
        <td style="vertical-align:middle">{{ value.titulo }}</td>
        <td style="vertical-align:middle">{{ value.tam_bd }}</td>
        <td style="vertical-align:middle">{{ value.tam_lista }}</td>
        <td style="vertical-align:middle">{{ value.tam_relat }}</td>
        <td class="text-center center-align">

          <a href="{{ url_for('alterar', id=key) }}" class="btn btn-ligth btn-sm" role="button" title="Alterar Dados">
            <i class="material-icons cor-azul" style="vertical-align:middle;">edit</i>
          </a>

          <a href="{{ url_for('excluir', id=key) }}" class="btn btn-ligth btn-sm" role="button" title="Excluir Dados">
            <i class="material-icons cor-azul" style="vertical-align:middle;">delete</i>
          </a>

        </td>
      </tr>

    {% endfor %}

  </tbody>

</table>

  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script type = "text/javascript">

    // Sidenav
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    // ScrollSpy
    const ss = document.querySelectorAll('.scrollspy');
    M.ScrollSpy.init(ss, {});

    // DropDown
    var dropdowns = document.querySelectorAll('.dropdown-trigger')
    // console.log(dropdowns);
    for (var i = 0; i < dropdowns.length; i++){
        M.Dropdown.init(dropdowns[i]);
    }

    //Select
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, {});
    });

    $(document).ready(function() {
      $('select').material_select();
    });

    // Modal
    var modal = document.querySelectorAll('.modal');
    // console.log(modal);
    for (var i = 0; i < modal.length; i++){
        M.Modal.init(modal[i]);
    }

  </script>

{%  endblock %}
